body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #979797;
}

.services{
    padding: 40px 20px;
    text-align: center;
}

.services h1{
    color: #bf0000;
    padding-bottom: 30px;
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card{
    background-color: white;
    width: 247px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transform: transform 0.7s;
}

.service-card:hover{
    transform: translateY(-10px);
}

.service-card h2{
    color: #0077cc;
}

.service-card p{
    font-size: 12px;
    color: #555;
}


      body {
        align-items: center;
            background-image:
                url("EcoCycle Africa logo design.png");
        }
